.detalhes__direcao {
    display: flex;
}

.direcao__diretor:nth-child(1) {
    width: 222px;
    height: 100%;
}

.direcao__diretor:nth-child(2) {
    flex-grow: 1;
}

@media (min-width: 320px) and (max-width: 600px) {

    .detalhes__direcao {
        flex-direction: column;
        gap: 1rem;
    }
}
