.botao__banner button{
    background: rgba(51, 187, 105, 0.05);
    border: 1px solid #33BB69;
    border-radius: 12px;
    height: 70px;
    left: 40%;
    position: absolute;
    top: 55%;
    width: 20%;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    transition: ease-in 0.5s;
    cursor: pointer;
}

.botao__banner button:hover {
    border: 1px solid #33BB69;
    background: #33BB69;
}