.frase__banner {
    position: absolute;
    left: 22%;
    top: 45%;
    color: #FFFFFF;
    font-weight: 00;
    font-size: 24px;
    line-height: 28px;
    font-weight: 300;
    font-style: normal;
}

@media (min-width: 320px) and (max-width: 450px) {

    .frase__banner {
        display: none;
    }
}

@media (min-width: 450px) and (max-width: 800px) {

    .frase__banner {
        padding: 0 5%;
        left: 50%;
        top: 55%;
        transform: translate(-50%, -50%);
        width: 100%;
        text-align: center;
    }
}