.creadores{
    display: flex;
    width: 200px;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.creadores:nth-child(1){
    align-items: flex-start;
}

.creadores:nth-child(2){

}

.creadores:nth-child(3){

}

.creadores:nth-child(4){
    align-items: flex-end;
}

@media (min-width: 320px) and (max-width: 480px) {

    .creadores {
        align-items: center;
        width: 100%;
    }

    .creadores:nth-child(1){
        align-items: center;
    }

    .creadores:nth-child(4){
        align-items: center;
    }

}

@media (min-width: 481px) and (max-width: 900px) {

    .creadores {
        width: 40%;
    }

    .creadores:nth-child(1){
        align-items: center;
        text-align: center;
    }

    .creadores:nth-child(4){
        align-items: center;
    }

}
