.creadores__icones {
    display: flex;
    gap: 1rem;
}

.creadores__icones:nth-child(1){
    align-items: flex-start;
}

.creadores__icones:nth-child(2){
    justify-content: center;
}

.creadores__icones:nth-child(3){
    justify-content: center;
}

.creadores__icones:nth-child(4){
    align-items: flex-end;
}
