.grupo__creadores {
    flex: 1.5;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 1rem 2rem 0 2rem;
    justify-content: space-around;
    align-items: center;
}

@media (min-width: 320px) and (max-width: 480px) {

    .grupo__creadores {
        padding: 3rem 0;
        gap: 2rem;
    }
}