.rodape {
    width: 100%;
    height: 300px;
    background: #171717;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 80px;
    color: #FFFFFF;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
}

.rodape__item {
    top: 0px;
}

@media (min-width: 320px) and (max-width: 480px) {

    .rodape {
        height: auto;
    }

}