.itens {
    display: flex;
    flex-direction: column;
    width: 100vw;
    position: relative;
    top: 80px;
    background: #E5E5E5;
    padding: 2rem 3rem;
    font-family: 'Roboto', sans-serif;

    margin: 0 auto;
    max-width: 1920px;
}